/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html {
  scroll-behavior: smooth;
}

body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.edit-header {
	height: 60px;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: black;
	color: white;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 100px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-family: 'work sans';
	font-weight: 400;
	font-size: 26px;
    margin: 20px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a {
	text-decoration: none;
	color: inherit;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio-title {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.portfolio-title button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-left: 20px;
	width: 100px;
	height: 30px;
}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.filters button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 2px solid #1D6154;
	border-radius: 60px ;
	padding: 10px 20px;
	margin: 0 10px;
}

.filters button:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.gallery figure {
	width: 30%;
}

.gallery img {
	width: 100%;

}

.gallery figcaption {
	margin-top: 10px;
	font-family: 'Work Sans';
	font-size: 1.1em;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	font-style: work sans;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bold {
	font-weight: 700;
}

.login {
	width: 300px;
	margin: 5em auto;
	padding: 2em;
	border-radius: 10px ;
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-form label {
	margin: 1em 0 0.5em 0;
	text-align: left;
	font-family: 'Work Sans';
	font-size: 1.1em;
	
}

.login-form input {
	height: 40px;
	font-size: 1.1em;
	border: 1px solid #B3B3B3;
	padding: 0 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login a {
	color: black;
	text-decoration: underline;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
}

/* ...existing code... */
.modal {
  display: none; /* cachée par défaut */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 630px;
  position: relative;
}
.close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 2em;
  cursor: pointer;
}

.back-arrow {
    background: none;
    border: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 2em;
    cursor: pointer;
}

.gallery-edit {
	display: flex;
	align-items: center;
	margin: 20px;
	flex-direction: column;
}

.gallery-add {
	display: none;
	align-items: center;
	margin: 20px;
	flex-direction: column;
}

.gallery-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	width: 80%;
	padding: 30px;
	border-bottom: 2px solid #B3B3B3;
}
.gallery-images figure {
	position: relative;
	margin-bottom: 40px;
}

.gallery-images figure button {
    position: absolute;
	width: 17px;
	height: 17px;
    top: 5px;
    right: 5px;
    background: black;
    border: 2px solid black;
	border-radius: 2px;
    cursor: pointer;
    color: white;
    font-size: 9px;
	display: flex;
    align-items: center;
    justify-content: center;
}

#add-image-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	gap: 20px;
}

.gallery-add button[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #B3B3B3;
	margin : 20px 0 ;
	padding: 10px 50px;
	width: 180px;
	text-align: center;
    border: #B3B3B3 1px solid;
	border-radius: 60px ;
}

.add-image {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 10px 50px;
	border-radius: 60px ;
}

.image-upload {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 169px;
	border: #E8F1F6 1px solid;
	border-radius: 3px;
}

.fa-image {
	font-size: 76px;
	color: #B9C5CC;
	margin-bottom: 10px;
}

.image-url-button{
	display: inline-block;
	padding: 10px 20px;
	background: #CBD6DC;
	color: #306685;
	border-radius: 60px;
	cursor: pointer;
	margin-bottom: 20px;
}

#image-url {
	display: none;
}

.image-upload span {
	font-family: 'Work Sans';
	font-size: 10px;
	color: #444444;
}

#add-image-form input,select{
	width: 420px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 10px;
}

.image-preview {
	height: inherit;
}