/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

:root {
    --color-main: #1D6154;
	--color-secondary: #B1663C;
	--color-background-main: #FFFEF8;
	--color-background-alt: white;
	--color-background-hover: #ebf5f3;
	--color-text-main: black;
	--color-submit-hover: #0E2F28;
}

body {
	margin: 0;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: var(--color-background-main);
}

.headerAndMain {
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--color-secondary);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--color-main);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: var(--color-secondary);
	cursor: pointer;
}

a {
	color: var(--color-text-main);
    text-decoration: none;
}

a:hover {
	color: var(--color-secondary);
}

nav img {
	width: 20px;
	height: auto;
}

nav a.active {
  font-weight: 600;
}

/*********** Bannière ModeEdition ***********/

.bar-edit {
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	height: 59px;
	gap: 21px;
}

/*********** INTRO ***********/

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*********** PORTFOLIO ***********/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* ÉDITION - bouton modifier */
.edit-projets {
    position: relative;
    text-align: center;
}

.edit-projets h2 {
    display: inline-block;
    margin: 0;
}

.btn-modifier {
    position: absolute;
    left: 61%;
    top: 30%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--color-text-main);
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-modifier i {
    margin-right: 5px;
}

/* ÉDITION - modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
	position: relative;
    background-color: white;
    margin: 5% auto;
    padding: 50px 100px 10px 100px;
    width: 50%;
    max-width: 630px;
    border-radius: 10px;
}

.modal-content h3 {
    text-align: center;
    margin-bottom: 40px;
	font-size: 26px;
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
	padding-bottom: 80px;
	gap: 20px 0px;
	border-bottom: 1px solid #B3B3B3;
}

.modal-images figure {
	display: inline-block;
	width: fit-content;
	position: relative;
	margin: 0;
}

.modal-images img {
	display: block;
    width: 80%;
    height: auto;
	margin: 0 auto;
}

.btn-delete {
	position: absolute;
  	top: 5px;
  	right: 17px;
  	width: 24px;
  	height: 24px;
  	background-color: black;
  	border: none;
  	border-radius: 4px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}

.btn-delete i {
  font-size: 14px;
  color: white;
}

.wrapperAjoutPhoto {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 120px;
}

.btn-ajoutPhoto {
	background-color: var(--color-main);
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	padding: 1px 40px;
    height: 37px;
	cursor: pointer;
}

.btn-AjoutPhoto:hover {
	background-color: var(--color-submit-hover);
}

.close {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
	color: red;
}

/* FILTERS */

.container-filter {
	justify-content: center;
    align-items: center;
	margin-bottom: 40px;
    gap: 10px;
}

.button-filter {
    padding: 1px 15px;
    height: 37px;
    border-radius: 60px;
    border: 1px solid var(--color-main);
    background-color: var(--color-background-main);
	font-family: 'Syne';
    font-size: 16px;
    font-weight: bold;
	color: var(--color-main);
    cursor: pointer;
}

.button-filter:hover {
	background-color: var(--color-background-hover);
}

.button-filter.active-filter {
  background-color: var(--color-main);
  color: white;
}

/*********** GALLERY ***********/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}


/*********** CONTACT ***********/
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--color-background-alt);
	background-color: var(--color-main);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
	background-color: var(--color-submit-hover);
	transform: scale(1.05);
}

/*********** FOOTER ***********/

footer {
	width: 100%;
	height: 60px;
	background-color: var(--color-background-alt);
	position: relative;
	left: 0;
}

footer .footer-content {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.footer-content li {
	font-weight: 300;
	font-size: 1em;
}

